@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.bg-gradient {
  background: rgb(38, 166, 154);
  background: linear-gradient(
    0deg,
    rgba(38, 166, 154, 0.8250759776566876) 0%,
    rgba(255, 255, 255, 1) 42%
  );
}

@layer utilities {
  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }

  .input-class {
    @apply text-16 placeholder:text-16 rounded-lg focus:border-none bg-white-1 text-gray-900;
  }

  .form-label {
    @apply text-16 w-full max-w-[280px] font-bold text-primary-tint;
  }

  .form-message {
    @apply text-12 pt-2 text-primary;
  }

  .form-btn {
    @apply text-16 h-10 rounded-lg bg-primary px-4 py-2 font-semibold text-white-1 shadow-lg transition-all duration-100 hover:bg-primary-tint;
  }

  .nav-btn {
    @apply cursor-pointer rounded-md bg-primary px-4 py-2 font-semibold text-white-1 hover:bg-primary-tint;
  }

  .nav-link {
    @apply hover:bg-primary-clear mx-2 inline-flex h-10 items-center rounded-md px-4 py-2 text-base font-semibold text-primary transition-all duration-100 hover:text-primary-tint;
  }

  .manage-nav-link {
    @apply hover:bg-primary-clear row-span-3 h-full w-full select-none justify-center rounded-md px-4 py-2 text-sm font-semibold text-primary hover:text-primary-tint;
  }

  .nav-link-active {
    @apply bg-primary-clear font-bold text-primary-tint;
  }

  .btn-primary {
    @apply rounded-md bg-primary px-2 py-1 text-base text-white-1 transition-colors duration-75 hover:bg-primary-tint
  }

  .btn-secondary {
    @apply rounded-md bg-secondary px-2 py-1 text-base text-white-1 transition-colors duration-75 hover:bg-secondary-tint
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #333 !important;
  }
}
